include ../../UI-kit/cards/components/card-find/card-find
include ../../UI-kit/form-elements/components/datepicker/datepicker
include ../../UI-kit/form-elements/components/button/button
include ../../UI-kit/form-elements/components/label/label

include ../../UI-kit/headers-footers/footer/footer
include ../../UI-kit/form-elements/components/subscription/subscription

include ../../UI-kit/headers-footers/header/header


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        .landing-page__header 
            +header({items:[
                    {name: 'О нас', mod: 'header__item_bold'},
                    {name: 'Услуги', mod: 'header__item_expandable'},
                    {name: 'Вакансии'},
                    {name: 'Новости'},
                    {name: 'Соглашения', mod: 'header__item_expandable'},
                    ], lastItem: 'buttons'})
        main.landing-page__main
            +card-find
            .landing-page__annotation Лучшие номера для вашей работы, отдыха и просто вдохновения
        .landing-page__footer 
            +footer