.footer{


    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #fff;

    padding-left: 140px;
    padding-right: 140px;
}

.footer__body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;

    height: 372px;
}

.footer__body-column{
    display: flex;
    flex-direction: column;
    gap: 21px;

    color: rgba(31, 32, 65, 0.5);
    font-size: 14px;
}

.footer__item_max-w{
    max-width: 260px;
    color: rgba(31, 32, 65, 0.75);
    line-height: 24px;
}

.footer__item_bold {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 1);
}


.footer__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 70px;
    align-items: center;
}

.footer__rights-reserved{
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
}

.footer__soc-media-icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}