
.benefit{
    display: flex;
    flex-direction: row;
    gap:10px;
    width: 280px;

    padding-bottom: 17px;

    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;

    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}

.benefit__img{
    // background-image: url(/src/img/insert_emoticon.svg);
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
    background-position: center;
}

.benefit__textbox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
}

.benefit__title{
    font-weight: bold;
}