include ../../burger/burger
include ../../button/button
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    header.header
        .container
            .header__inner 
                .header__logo
                    img(src=require('../../../img/logo.png') alt="").logo
                nav.header__nav  
                    +burger  
                .header__buttons
                    div.header__button-login
                        +button({theme:"transparent", text:"ВОЙТИ"})
                    div.header__button-signup
                        +button({theme:"full", text:"ЗАРЕГЕСТРИРОВАТЬСЯ"})
                    
                    

  
    
    
                    
        