

mixin header(options={})
    -
        const {
            items = '',
            lastItem = 'buttons'
        } = options;

    header.header 
        .header__logo 
            img(src=require('../../img/logo.png') alt="").logo
        .header__items-container 
            each val in items
                .header__item(class=val.mod)=val.name

        .header__last-item
            if (lastItem === 'buttons')
                .header__buttons-container
                    +button({theme:"hollow", text:"Войти", width:'regular'})
                    +button({theme:"full", text:"Зарегестрироваться", width:'wide', isArrowed:false})
            if (lastItem === 'user')
                .header__user Юлий Цезарь

                    
                    

  
    
    
                    
        