@font-face {
    font-family: 'Montserrat';
    src: url('/src/fonts/Montserrat-Regular.ttf'),
     url('/src/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: material-icons;
    src:
      url('/src/fonts/material-icons-regular.woff') format('woff'),
      url('/src/fonts/material-icons-regular.ttf') format('truetype'),
      url('/src/fonts/material-icons-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
