.label__label-left{
    text-transform: uppercase;
    font-size: 12px;
    font-family: $font-Montserrat;
    font-weight: 700;
    font-style: normal;
    color: rgba(31, 32, 65, 1)

}

.label__label-right{
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', Arial, sans-serif;
    color:rgba(31, 32, 65, 0.5)
}