mixin label(options={})
    -
        const {
            newClass = '',
            labelLeft = '',
            labelRight = '',
            width = 'wide',
        } = options;

    div(class=options.newClass)
        div.label(class='label'+'_'+width)
            div.label__label-left=options.labelLeft
            div.label__label-right=options.labelRight