@use '../../styles/reset.css';

@use 'header/header.scss';
@use '../../UI-kit/form-elements/components/button/button.scss';

@use 'footer/footer.scss';
@use '../../UI-kit/form-elements/components/subscription/subscription.scss';

.headers-footers{


    display: flex;
    flex-direction: column;
    gap: 40px;

    background: #F4F4F6;
}