
.radio__input{
    appearance: none;
}

.radio__label{
    display: flex;
    flex-direction: row;
}

.radio__button{
    height: 20px;
    width: 20px;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
}

.radio__input:checked + .radio__button{
    border: #BC9CFF 1px solid;
}

.radio__input:checked + .radio__button::before{
    content:'';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio__description{
    font-size: 14px;
    font-family: 'Montserrat', Arial, sans-serif;
    color:rgba(31, 32, 65, 0.5)
}