include components/button/button
include components/checkbox/checkbox
include components/radio/radio
include components/toggle/toggle
include components/pagination/pagination
include components/like-button/like-button
include components/slider/slider
include components/textfield/textfield
include components/masked-textfield/masked-textfield
include components/datepicker/datepicker
include components/subscription/subscription
include components/label/label
include components/expandable-checkbox-list/expandable-checkbox-list
include components/bulletlist/bulletlist
include components/benefit/benefit


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        div.form-elements__header header
        div.form-elements
            div.form-elements__item.first-child
                +textfield({header: true, title:'text field', description:'default', type:'email', placeholder: 'Email'})
                +textfield({header: true, title:'text field', description:'hover/focus', type:'text', value: 'This is pretty awesome', placeholder: 'Email'})
                div.form-elements__dropdown-container-guests.form-elements__dropdown-container-guests_z-index_5
                    +label({newClass:'form-elements__label', labelLeft:'dropdown'})
                +masked-textfield({header: true, title:'masked text field', type:'tel', placeholder: "ДД.ММ.ГГГГ"})
                .form-elements__dropdown.form-elements__dropdown_z-index_4
                    +datepicker({
                    name: 'date-regular',
                    headerArrival: 'date dropdown',
                    headerDeparture: 'date dropdown',
                    headerCommon: 'даты пребывания в отеле',
                    })
                .form-elements__dropdown.form-elements__dropdown_z-index_3
                    +datepicker({
                    name: 'date-filter',
                    headerCommon: 'filter date dropdown',
                    modifier: 'filter',
                    })
                +subscription({header: true, title:'subscription textfield', type:'email', placeholder: 'Email'})
                div.form-elements__dropdown-container-rooms.form-elements__dropdown-container-rooms_z-index_2
                    +label({newClass:'form-elements__label', labelLeft:'dropdown', labelRight:'default', width:'narrow'})
                div.form-elements__dropdown-container-rooms2.form-elements__dropdown-container-rooms2_z-index_1
                    +label({newClass:'form-elements__label', labelLeft:'dropdown', labelRight: 'expanded', width:'narrow'})
                .form-elements__expandable-checkbox-list
                    +expandable-checkbox-list(
                        {items:[
                            {text:'Завтрак'}, 
                            {text:'Письменный стол', checked:true}, 
                            {text:'Стул для кормления', checked:true},
                            {text:'Кроватка', checked:true},
                            {text:'Телевизор'}, 
                            {text:'Шампунь'}, 
                            ],
                        headerTitle:'expandable checkbox list'})
                .form-elements__expandable-checkbox-list
                    +expandable-checkbox-list(
                            {items:[
                                {text:'Завтрак'}, 
                                {text:'Письменный стол', checked:true}, 
                                {text:'Стул для кормления', checked:true},
                                {text:'Кроватка', checked:true},
                                {text:'Телевизор'}, 
                                {text:'Шампунь'}, 
                                ],
                            headerTitle:'expandable checkbox list'})
                .form-elements__benefit 
                    +benefit({title:'Комфорт', description:'Шумопоглащающие стены', imgSrc: '../../img/insert_emoticon.svg'})
                .form-elements__advantage
            div.form-elements__item.second-child
                .form-elements__checkbox-block
                    +label({newClass:'form-elements__label', labelLeft:'checkbox buttons'})
                    .form-elements__checkbox-container
                        +checkbox({description:'Можно курить'})
                        +checkbox({description:'Можно с питомцами', checked: true})
                        +checkbox({description:'Можно пригласить гостей (до 10 человек)', checked: true})
                .form-elements__radio-block
                    +label({newClass:'form-elements__label', labelLeft:'radio buttons'})
                    +radio({description: ['Мужчина','Женщина'], value: ['male','female'], container_class: 'form-elements__radio-container', checked: 'true'})
                .form-elements__toggle-block
                    +label({newClass:'form-elements__label', labelLeft:'toggle'})
                    .form-elements__toggle-container
                        +toggle({description:'Получать спецпредложения' })
                        +toggle({description:'Получать спецпредложения' })
                .form-elements__like-button-block 
                    +label({newClass:'form-elements__label', labelLeft:'like button'})
                    .form-elements__like-button-container
                        +like-button({counter:2})         
                        +like-button({counter:12,  isLiked: true})         
                .form-elements__rate-button-block 
                    +label({newClass:'form-elements__label', labelLeft:'rate button'})
                    .form-elements__rate-button-container
                .form-elements__dropdown-container-guests2 
                    +label({newClass:'form-elements__label', labelLeft:'dropdown'})
                .form-elements__rich-checkbox-container
                    +label({newClass:'form-elements__label', labelLeft:'checkbox buttons'})
                    +checkbox({description:'Ширина коридоров в номере не менее 91 см', rich: true, title: 'Широкий коридор'})
                    +checkbox({description:'На 1 этаже вас встретит специалист и проводит до номера', rich: true, title: 'Помощник для инвалидов'})
            div.form-elements__item
                div.form-elements__slider-block
                    .form-elements__slider-container
                        +slider({description:'range slider', max: '15000', min: '5000', step:'1000', value1:'7000', value2: '10000'})
                div.form-elements__buttons
                    +label({newClass:'form-elements__label', labelLeft:'buttons'})
                    .form-elements__button
                        +button({theme:"full", text:"click me", width:'regular'})
                    .form-elements__button
                        +button({theme:"full", text:"click me", width:'regular', disabled: 'true'})
                    .form-elements__button
                        +button({theme:"hollow", text:"click me", width:'regular'})
                    .form-elements__button
                        +button({theme:"hollow", text:"click me", width:'regular', disabled: 'true'})
                    .form-elements__button
                        +button({theme:"text", text:"click me", width:'narrow'})
                    .form-elements__button
                        +button({theme:"text", text:"click me", width:'narrow', disabled: 'true'})
                    .form-elements__button
                        +button({theme:"full", text:"перейти к оплате", width:'wide', isArrowed:true})
                .form-elements__pagination-block
                    +label({newClass:'form-elements__label', labelLeft:'pagination'})
                    .form-elements__pagination-container
                        +pagination({})
                div.form-elements__dropdown-container-guests3
                    +label({newClass:'form-elements__label', labelLeft:'dropdown'})
                .form-elements__bulletlist-container
                    +bulletlist({items:[
                        'Нельзя с питомцами',
                        'Без вечеринок и мероприятий',
                        'Время прибытия - после 13:00, а выезд до 12:00',
                        ],
                        headerTitle: 'bulletlist'})

                    

  
    
    
                    
        